// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

// Ionic Variables and Theming
// --------------------------------------------------
// For more information on theming, please see:
// https://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  
  --ion-color-primary: #2196F3;
  --ion-color-primary-rgb: 33, 150, 243;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1e88e5;
  --ion-color-primary-tint: #42A5F5;

 
  --ion-color-secondary: #4FC3F7;
  --ion-color-secondary-rgb: 79, 195, 247;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #46b0de;
  --ion-color-secondary-tint: #81D4FA;

  
  --ion-color-tertiary: #81D4FA;
  --ion-color-tertiary-rgb: 129, 212, 250;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #72bbdc;
  --ion-color-tertiary-tint: #8ed8fb;

  
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

 
  --ion-color-light: #E1F5FE;
  --ion-color-light-rgb: 225, 245, 254;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #c6d8e1;
  --ion-color-light-tint: #e4f6fe;

  
  --ion-background-color: #E1F5FE;
  --ion-background-color-rgb: 225, 245, 254;


  --ion-text-color: #0277BD;
  --ion-text-color-rgb: 2, 119, 189;

 
  --ion-card-background: #ffffff;
}


.md {
  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-color: var(--ion-color-primary-contrast);
  --ion-tab-bar-background: var(--ion-color-primary);
  --ion-tab-bar-color: var(--ion-color-primary-contrast);
  --ion-tab-bar-color-selected: var(--ion-color-secondary);
}