<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>WeatherApp Pro</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/favorites"> Favoritos</ion-button>
      <ion-button routerLink="/history">Historial</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    
    <ion-card>
      <ion-card-header>
        <ion-card-title>Buscar Clima</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input 
            [(ngModel)]="city" 
            placeholder="Ingresa una ciudad"
            (keyup.enter)="searchWeather()">
          </ion-input>
        </ion-item>
        <ion-button 
          expand="block" 
          (click)="searchWeather()"
          color="primary"
          style="margin-top: 15px;">
          Buscar Clima
        </ion-button>
      </ion-card-content>
    </ion-card>

    
    <ion-card *ngIf="weatherData" class="fade-in">
    
    </ion-card>

    <ion-card *ngIf="weatherData === null" color="danger">
    
    </ion-card>
  </div>
</ion-content>